{% extends 'home/model_full.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block TITULO %}
<title>Lista de Obras</title>
{% endblock %}


{% block CONTEUDO_PAG %}
<div class="container-fluid">
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Lista de Obras</h1>
	<div class="card shadow mb-4">
		<div class="card-header py-3">
            <a href="{% url 'obra-cadastro' %}" class="btn btn-primary btn-user ">Cadastrar nova Obra</a>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
								<th>Autor</th>
								<th>Categoria</th>
                                <th>Opções de ação</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
								<th>Autor</th>
								<th>Categoria</th>
                                <th>Opções de ação</th>
                            </tr>
                        </tfoot>

						{% for z_obra in object_list %}
                        <tr>
                            <td>{{ z_obra.name }}</td>
                            <td>{{ z_obra.description }}</td>
                            <td>{{ z_obra.autor }}</td>
                            <td>{{ z_obra.categoria }}</td>
                            <td>
                                <a class="nav-link" href="{% url 'obra-update' z_obra.pk %}">
                                    <i class="fas fa-edit"></i>
                                    <span>Editar</span>
                                </a>
                                <a class="nav-link" href="{% url 'obra-delete' z_obra.pk %}">
                                    <i class="fas fa-trash-alt"></i>
                                    <span>Deletar</span>
                                </a>
                            </td>
                        </tr>
						{% empty %}
                            <tr>
                                <td colspan="3">Nenhuma obra cadastrado</td>
                            </tr>
						{% endfor %}

					</table>
				</div>
			</div>
        </div>

	</div>
</div>
{% endblock %}
